ion-title{
    text-align: center;
}

ion-content {
    overflow-y: auto; 
  }

ion-item {
    --background: var(--ion-item-background);
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px #BBB8B8 solid;
    padding: 2px;
}

ion-card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ion-card-header{
    padding-bottom: 30px;
}

ion-img {
    max-width: 150px;
}

.header {
    --background: var(--ion-color-pep);
    color: white;
}

.container{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 80%;
    max-width: 1000px;  
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.title{
    text-align: center;
}

h1{
    scale: 90%;
}

.botao-cancelar{
    border-radius: 4px;
}

.butao{
    --background: var(--ion-color-pep);
  }

  ion-item.invalid {
    --highlight-color-invalid: var(--ion-color-danger);
    --highlight-color-focused: var(--ion-color-danger);
    
    ion-input {
      --color: var(--ion-color-danger);
    }
  }
  
  ion-note[slot="error"] {
    display: block;
    font-size: small;
    margin-top: 5px;
    color: var(--ion-color-danger);
  }