<ion-content [fullscreen]="true">
  <app-nav></app-nav>
  <div class="content">
    <div class="container">
      <ion-card>
        <ion-card-header>
          <h1 class="title"> Cadastro profissional Liberal/ Autônomo </h1>
        </ion-card-header>
        <ion-card-content>
          <h2 class="title">Informações Obrigatórias</h2>
          <br>
          <form [formGroup]="obrigatorio">
            <ion-row>
              <ion-col size="6">
                <ion-item class="form-item">
                  <ion-input formControlName="nome" label="Nome" labelPlacement="floating"
                    placeholder="Informe o nome"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item class="form-item">
                  <ion-input formControlName="nomeSocial" label="Nome Social (opcional)" labelPlacement="floating"
                    placeholder="Informe o nome social"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-item class="form-item">
                  <ion-input formControlName="telefone" [maskito]="phoneMask" [maskitoElement]="maskPredicate"
                    label="Telefone" labelPlacement="floating" placeholder="Informe o telefone para contato"
                    maxlength="15" type="tel"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item class="form-item" [class.invalid]="emailInvalid">
                  <ion-input 
                    formControlName="email" 
                    label="Email" 
                    labelPlacement="floating"
                    placeholder="Informe o email de contato" 
                    type="email"
                    (ionChange)="validateEmail()">
                  </ion-input>
                  <ion-note *ngIf="emailInvalid" color="danger" slot="error">
                    Por favor, insira um e-mail válido (exemplo: usuario&#64;dominio.com)
                  </ion-note>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-item class="form-item">
                  <ion-select formControlName="tipo" multiple="true" (ionChange)="onTipoChange($event)"
                    label="Tipo de serviço prestado" labelPlacement="floating" class="custom-select">
                    <ion-select-option *ngFor="let tipo of opcoes" [value]="tipo.id">{{ tipo.nome }}</ion-select-option>
                    <ion-select-option value="outro">Cadastar novo tipo de serviço</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col size="6">
                <ion-item class="form-item">
                  <ion-input formControlName="descricao" label="Descrição" labelPlacement="floating"
                    placeholder="Descrição da atuação"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-button class="teste" expand="block" (click)="fileInput.click()">
                  {{ selectedFile ? 'Imagem de divulgação Selecionado: ' + selectedFile.name : 'Selecionar imagem de divulgação' }}
                </ion-button>
                <input type="file" #fileInput (change)="onFileSelected($event)" formControlName="imagem"
                  style="display: none;" accept=".jpg, .png, .jpeg">
              </ion-col>
            </ion-row>

          </form>
        </ion-card-content>
      </ion-card>
      <ion-row>
        <ion-col size="6">
          <ion-button class="teste" expand="block" (click)="onSubmit()">
            Cadastrar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="teste" [routerLink]="['/login']" color="light" expand="block">
            Cancelar
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>