<ion-content [fullscreen]="true">
  <app-nav></app-nav>
  <div class="content">
    <div class="container">
      <ion-card>
        <ion-card-header>
          <h1 class="title"> Cadastro de Área </h1>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="obrigatorio">
            <ion-item>
              <ion-input formControlName="nome" label="Nome" labelPlacement="floating" placeholder="Informe o nome da área"></ion-input>
            </ion-item>
          </form>
        </ion-card-content>
      </ion-card>
      <ion-row>
        <ion-col size="6">
          <ion-button class="teste" expand="block" (click)="onSubmit()">
            Cadastrar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="teste" color="light" expand="block" [routerLink]="['/listar-area']">
            Cancelar
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
