@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    src: url("../assets/fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: lighter;
    src: url("../assets/fonts/Inter-Light.ttf");
}

html.md {
    --ion-default-font: 'Inter', sans-serif !important
}