 .butao{
   --background: var(--ion-color-pep);
 }

.header {
    --background: var(--ion-color-pep);
    color: white;
}

.logo-img{
    max-width: 150px;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

ion-content {
  overflow-y: auto; 
}

.container{
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;    
  width: 80%;
  max-width: 1000px;  
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-item {
  --background: var(--ion-item-background);
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px #BBB8B8 solid;
  padding: 2px;
}

ion-card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}