<ion-content id="main-content">
  <app-nav></app-nav>
  <div class="content">
    <div class="container">
      <ion-card>
        <ion-card-content>
          <h1 style="text-align: center;">Perfil do Administrador</h1>
        <br>
        <br>
        <h1 style="text-align: center;">Informações da Conta</h1>
        <br>

        <ion-item>
          <ion-input label="Email" labelPlacement="floating" [(ngModel)]="conta.email"
           readonly></ion-input>
        </ion-item>
      
      
          <br>
          <h1 style="text-align: center;">Informações Gerais</h1>
          <br>
          <ion-item>
            <ion-input readonly [(ngModel)]="administrador.nome" label="Nome" labelPlacement="floating" placeholder="Nome do Administrador não informado" maxlength="60"></ion-input>
          </ion-item>
          <br>
          <ion-row>
            <ion-col size="6">
              <ion-button id="open-modal9" class="butao" expand="block">
                Alterar Informações
              </ion-button>
            </ion-col>
              <ion-col size="6">
                <ion-button id="open-modal10" expand="block" class="butao">Alterar Senha</ion-button>
              </ion-col>
          </ion-row>

          <ion-modal #modal9 trigger="open-modal9" (willDismiss)="onWillDismiss($event)">
            <ng-template>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()" >Voltar</ion-button>
                </ion-buttons>
                <ion-buttons slot="end">
                  <ion-button  (click)="alterarAdministrador()" [strong]="true">Enviar</ion-button>
                </ion-buttons>
              </ion-toolbar>
              <ion-content class="ion-padding">
                <br>
                <h2 style="text-align: center;">Informações Gerais</h2>
      
                <ion-item>
                  <ion-input label="Nome" labelPlacement="floating" placeholder="Informe o nome"
                  [(ngModel)]="administradorAlterado.nome"></ion-input>
                </ion-item>
              </ion-content>
            </ng-template>
          </ion-modal>
      
          <ion-modal #modal10 trigger="open-modal10" (willDismiss)="onWillDismissPassword($event)">
            <ng-template>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancelPassword()">Voltar</ion-button>
                </ion-buttons>
                <ion-buttons slot="end">
                  <ion-button  (click)="confirmPassword()" [strong]="true">Enviar</ion-button>
                </ion-buttons>
              </ion-toolbar>
              <ion-content class="ion-padding">
                <br>
                <h2 style="text-align: center;">Alterar Senha</h2>
      
                <ion-item>
                  <ion-input [(ngModel)]="novaSenha.senhaAtual" type="password" label="Senha atual"  labelPlacement="floating" >
                    <ion-input-password-toggle slot="end" color="success"></ion-input-password-toggle>
                  </ion-input>
                </ion-item>
      
                <ion-item>
                  <ion-input [(ngModel)]="novaSenha.novaSenha" type="password" label="Senha nova" labelPlacement="floating">
                    <ion-input-password-toggle slot="end" color="success"></ion-input-password-toggle>
                  </ion-input>
                </ion-item>
      
                <ion-item>
                  <ion-input [(ngModel)]="novaSenha.confirmarSenha" type="password" label="Confirmar senha nova" labelPlacement="floating">
                    <ion-input-password-toggle slot="end" color="success"></ion-input-password-toggle>
                  </ion-input>
                </ion-item>
      
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-card-content>
        </ion-card>
    </div>
  </div>
</ion-content>