
a {
    color: var(--ion-color-pep);
    text-decoration: none;
}

p {
    color: gray;
}


.form {
    padding: 30px;
    background-color: var(--ion-color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 90%;
    max-width: 400px;
    max-height: 600px;

    border: 1px solid var(--ion-border-color);
    border-radius: 20px;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: blue;
    width: 100%;
}

ion-item {
    --background: var(--ion-item-background);
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px #BBB8B8 solid;
    padding: 2px;
}

ion-button.login {
    --background: var(--ion-color-pep);
    --padding-top: 18px;
    --padding-bottom: 18px;
}

ion-button {
    --background: var(--ion-color-pep);
    height: 60px;
    --box-shadow:none;
}

ion-content{
    height: 100vh;
    display: flex;
}

ion-img{
    width: 220px;
}


.divider{
    border-top: 1px solid #bbb;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
    color: var(--ion-text-color);
    font-weight: 500;
    margin: 0;
}

.subTitle {
    margin-top: 5px;
}

.register {
    text-align: center;
}

.forgot {
    text-align: end;
    margin-bottom: 10px;
}

.full{
    height: 100vh;
}

.centralize {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.web-padding {
    width: 100%;
    height: 100%;
    padding: 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  .card-title-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .title-icon {
    font-size: 24px;
    margin-right: 10px;
    color: green;
  }

  ion-card-title {
    font-size: 20px;
    white-space: nowrap;
    overflow:visible;
  }

.title-icon {
  font-size: 32px; /* Ajuste o tamanho do ícone conforme necessário */
  margin-right: 16px;
  color: green; /* Cor do ícone */
}

ion-item{
    cursor: pointer;
    --background: none;
}

ion-item:hover {
    --background: var(--ion-item-background)
}

ion-list {
    background-color: var(--ion-background-color);
}
