<ion-content [fullscreen]="true">
  <app-nav></app-nav>

  <div class="content">
    <div class="container">
      <ion-card>
        <ion-card-header>
          <h1 class="title">Listar Contas</h1>
        </ion-card-header>

        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <table>
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Email</th>
                      <th>Tipo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let conta of paginatedListaConta" (click)="onRowClick(conta.idConta)"
                      [class.selected]="conta.idConta === selectedIdConta">
                      <td>{{ conta.nome || 'Sem Nome' }}</td>
                      <td>{{ conta.email }}</td>
                      <td>{{ getTipoLabel(conta.tipo) }}</td>
                    </tr>
                  </tbody>
                </table>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</ion-button>
                <ion-button (click)="nextPage()"
                  [disabled]="(currentPage * itemsPerPage) >= listaConta.length">Próximo</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-row>
        <ion-col size="6">
          <ion-button class="teste" (click)="confirmarExclusao()" color="danger" expand="block">Excluir</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="teste" [routerLink]="['/home']" color="light" expand="block">Voltar</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>