<div class="vaga">
  <h5 class="title">{{titulo}}</h5>
  <div class="badges">
    <ion-badge>{{regime}}</ion-badge>
    <ion-badge>{{pcd}}</ion-badge>
    <ion-badge>{{salario}}</ion-badge>
    <ion-badge class="tipo">{{tipo}}</ion-badge>
  </div>
  <div class="infos">
    <div class="empresa">
      <ion-img *ngIf="ocultarNome !== 'S'" [src]="logo"/>
      <ion-img *ngIf="ocultarNome === 'S'" src="assets/confidencial.png" class="logo-confidencial"/>
      <div class="infos-empresa">
        <div class="infos-empresa">
          <p class="empresa-nome">{{ocultarNome === 'S' ? 'Empresa Confidencial' : empresa}}</p>
          <p class="empresa-cidade">{{cidade}}</p>
        </div>
      </div>
    </div>
    <div class="metadata">
      <p>{{data}}</p>
    </div>
  </div>
</div>