<ion-content [fullscreen]="true">
  <app-nav></app-nav>
  <div class="content">
    <div class="container">
      <ion-card>
        <ion-card-header>
          <h1 class="title">Perfil do Profissional Liberal</h1>
        </ion-card-header>

        <ion-card-content>
          <h1 style="text-align: center;">Informações da Conta</h1>

          <ion-item>
            <ion-input label="Email" labelPlacement="floating" [(ngModel)]="conta.email" readonly></ion-input>
          </ion-item>

          

          <ion-row>
            <ion-col>
              <ion-button id="open-modal2" class="butao" expand="block">Alterar Senha</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>

        <ion-card-content>

          <h1 style="text-align: center;">Informações do profissional </h1>

          <form>
            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-input [(ngModel)]="conta.nome" name="nome" label="Nome" labelPlacement="floating"
                    placeholder="Informe o nome" readonly></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size="6">
                <ion-item>
                  <ion-input [(ngModel)]="conta.nomeSocial" name="nomeSocial" label="Nome Social (opcional)"
                    labelPlacement="floating" placeholder="Informe o nome social" readonly></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-input [(ngModel)]="conta.telefone" name="telefone" [maskito]="phoneMask"
                    [maskitoElement]="maskPredicate" label="Telefone" labelPlacement="floating"
                    placeholder="Informe o telefone para contato" maxlength="15" type="tel" readonly></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size="6">
                <ion-item>
                  <ion-input [(ngModel)]="conta.email" name="email" label="Email" labelPlacement="floating"
                    placeholder="Informe o email de contato" type="email" readonly></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-input label="Tipo de serviço prestado" readonly labelPlacement="floating"
                    [value]="formatTipoProfissional(tipoDeServico)"
                    placeholder="Áreas de interesse não informadas"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size="6">
                <ion-item>
                  <ion-input [(ngModel)]="conta.descricao" name="descricao" label="Descrição" labelPlacement="floating"
                    placeholder="Informe a Descrição" readonly></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

          </form>
        </ion-card-content>

        <ion-row>
          <ion-col size="6">
            <ion-button id="open-modal" class="butao" expand="block" (click)="openEditModal()">
              Alterar Perfil
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="botao-cancelar" color="danger" expand="block" id="open-action-sheet">
              <ion-action-sheet trigger="open-action-sheet" header="Tem certeza que deseja excluir sua conta?"
                [buttons]="actionSheetButtons"></ion-action-sheet>
              Excluir conta
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      
    </div>
  </div>


  <ion-modal #modal1 trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-toolbar>
        <ion-buttons (click)="fechar()" slot="start">
          <ion-button>Voltar</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="onSubmit()" [strong]="true">Enviar</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content class="ion-padding">
        <br>
        <h2 style="text-align: center;">Alterando as informações do profissional liberal</h2>

        <form [formGroup]="obrigatorio">
          <ion-item>
            <ion-input formControlName="nome" label="Nome" labelPlacement="floating"
              placeholder="Informe o nome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="nomeSocial" label="Nome Social (opcional)" labelPlacement="floating"
              placeholder="Informe o nome social"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="telefone" [maskito]="phoneMask" [maskitoElement]="maskPredicate"
              label="Telefone" labelPlacement="floating" placeholder="Informe o telefone para contato" maxlength="15"
              type="tel"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="email" label="Email" labelPlacement="floating"
              placeholder="Informe o email de contato" type="email"></ion-input>
          </ion-item>
          <ion-item class="form-item">
            <ion-select formControlName="tipo" multiple="true" (ionChange)="onTipoChange($event)"
              label="Tipo de serviço prestado" labelPlacement="floating">
              <ion-select-option *ngFor="let tipo of opcoes" [value]="tipo.id">{{ tipo.nome }}</ion-select-option>
              <ion-select-option value="outro">Cadastar novo tipo de serviço</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-input formControlName="descricao" label="Descrição" labelPlacement="floating"
              placeholder="Descrição da atuação"></ion-input>
          </ion-item>

          <ion-row>
            <ion-col size="12">
              <ion-button class="teste" expand="block" (click)="fileInput.click()">
                {{ selectedFile ? 'Imagem de divulgação Selecionado: ' + selectedFile.name : 'Selecionar imagem de divulgação' }}
              </ion-button>
              <input type="file" #fileInput (change)="onFileSelected($event)" formControlName="imagem"
                style="display: none;">
            </ion-col>
          </ion-row>
        </form>

      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-modal #modal2 trigger="open-modal2" (willDismiss)="onWillDismissPassword($event)">

    <ng-template>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancelPassword()">Voltar</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="confirmPassword()" [strong]="true">Enviar</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content class="ion-padding">

        <br>

        <h2 style="text-align: center;">Alterar Senha</h2>

        <form [formGroup]="senha">
          <ion-item>
            <ion-input formControlName="senhaAtaul" type="password" label="Senha atual"
              labelPlacement="floating">
              <ion-input-password-toggle slot="end" color="success"></ion-input-password-toggle></ion-input>
          </ion-item>

          <ion-item>
            <ion-input formControlName="senhaNova" type="password" label="Senha nova"
              labelPlacement="floating">
              <ion-input-password-toggle slot="end" color="success"></ion-input-password-toggle>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input formControlName="senhaConfirmada" type="password" label="Confirmar senha nova"
              labelPlacement="floating">
              <ion-input-password-toggle slot="end" color="success"></ion-input-password-toggle>
            </ion-input>
          </ion-item>
        </form>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>